<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
  </head>
<body>
  <% if (!locals.user) {%>
    <a href="/log-in">
      <button>Log In</button>
    </a>
    <br />
    <br />
    <a href="/sign-up">
      <button>Sign Up</button>
    </a>
  <% } else { %>
    <a href="/post-message">
      <button>Post a Message</button>
    </a>
    <h1>WELCOME BACK <%= locals.user.username %></h1>
    <form action="/log-out" method="POST">
      <button href="/log-out">LOG OUT</button>
    </form>
  <%}%>
  <% locals.messages.forEach(function({username, title, body, date}) { %>
    <li>
      Name: <%= username %>.  Date: <%= date.getHours() %>:<%= date.getMinutes() %>, <%= date.getDate() %>/<%= date.getMonth() %>/<%= date.getFullYear() %>
      <br/> 
      Title: <%= title %>.
      <br/>
      Body: <%= body %>
    </li>
    
  <% }); %>

</body>
</html>
